<?xml version="1.0"?>
<model>
    <name>rc_car</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Ashish Verma</name>
        <email>ashish@nextaisense.com</email>
    </author>
    <description>A ROS Controlled (RC) Car for autonomous vehcile demo</description>
</model>
